// screen size
$screen-xs: 375px;
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 1048px;
$screen-xl: 1440px;

// background
$lightBackgroundColor: hsl(0, 0%, 98%);
$darkBackgroundColor: hsl(207, 26%, 17%);

//text
$lightTextColor: hsl(200, 15%, 8%);
$darkPrimaryText: hsl(0, 0%, 100%);

// input
$lightInputColor: hsl(0, 0%, 52%);

// elements
$darkElementColor: hsl(209, 23%, 22%);
$lightElementColor: hsl(0, 0%, 100%);
